#tumblr-demo-app {
  display: flex;
  flex-direction: row;
}

#left-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#search-form {

}

#search-field-container {
  display: flex;
  flex-direction: row;
}

.search-field {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px 20px;
}

#search-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#posts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 200px;
  margin: 10px 10px 10px 10px;
  color: black;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 30px 20px 30px 20px;
}

.post-content {
  width: 75%;
  height: 80%;
}

.post-summary-text {
  overflow-wrap: break-word;
}

.post-image {
}

.blog-button-container {
  width: 25%;
}

#right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#favorites-container {
  display: flex;
  flex-direction: column;
}